/* PHASE 5: Cats */
.content-header {
  /* display: absolute; */
  position: relative;
  width: 100%;
  border-bottom: 1px solid lightgrey;
  height: 200px;
  background: url(/Users/appacademy/Desktop/W5D5/skeleton/labrador-retriever-dog-pictures-3.jpg);
  background-size: cover;
  /* background: transparent; */
}
.content-header img {
  /* background-size: cover; */
  /* display: fixed; */
  /* z-index: -1; */
  min-width: 900px;
  min-height: 500px;
}
