<header class="masthead">
  <nav class="language-nav">
    <ul>
      <a href="default.asp" target="_blank">CSS</a>
      <a href="default.asp" target="_blank">HTML</a>
      <a href="default.asp" target="_blank">Javascript</a>
      <a href="default.asp" target="_blank">Ruby</a>
    </ul>
  </nav>
  <img src="assets/AA_Times_Logo.png" alt="logo" class="logo">
  <nav>
    <ul class="masthead-links">
      <li><a href="default.asp" target="_blank">Tuesday, October 18, 2016</a></li>
      <li><a href="default.asp" target="_blank"><i class="fa fa-newspaper-o" aria-hidden="true"></i>Today’s Paper</a></li>
      <li><a href="default.asp" target="_blank"><i class="fa fa-video-camera" aria-hidden="true"></i>Video</a></li>
      <li><button type="button">77°F</button></li>
      <li><button type="button">AAO <strong>+100%</strong></button></li>
      </li>
    </ul>
  </nav>
</header>
