<button class ="follow-toggle"
  data-user-id="<%= user.id %>"
  data-initial-follow-state="
<% if current_user.follows?(user) %>
  <%= 'followed' %>
<% else %>
  <%= 'unfollowed' %>
<% end %>">
</button>
